@import "tailwindcss";

@theme {
  --color-primary: #0084FF;
  --color-secondary: #253B73;
  --color-success: #059669;
  --color-danger: #DC2626;
  --color-warning: #F08811;

  --color-blue-10: #FCFEFF;
  --color-blue-20: #F6F8FE;
  --color-blue-50: #e6f3ff;
  --color-blue-100: #b0d9ff;
  --color-blue-200: #8ac6ff;
  --color-blue-300: #54adff;
  --color-blue-400: #339dff;
  --color-blue-500: #0084ff;
  --color-blue-600: #0078e8;
  --color-blue-700: #005eb5;

  --color-dark-blue-1: #e9ebf1;
  --color-dark-blue-2: #cbd0dd;
  --color-dark-blue-200: #a1abc3;
  --color-dark-blue-4: #7684a7;
  --color-dark-blue-5: #4c5e8c;
  --color-dark-blue-500: #253b73;
  --color-dark-blue-600: #1f3262;
  --color-dark-blue-8: #1A2A52;
  --color-dark-blue-9: #152242;
  --color-dark-blue-10: #111b34;
}

:root {
  --bg-base: #F6FAFD;
  --bg-sidebar: #ffffff;
  --sidebar-width: 240px;
  --sidebar-collapsed-width: 64px;
  --transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
