@import "tailwindcss";

:root {
  --bg-base: #F6FAFD;
  --bg-sidebar: #ffffff;
  --sidebar-width: 240px;
  --header-height: 68px;
  --sidebar-collapsed-width: 64px;
  --mobile-header-height: 64px;
  --mobile-sidebar-width: 301px;
  --transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  --color-primary: #0084FF;
  --color-secondary: #253B73;
  --color-success: #059669;
  --color-danger: #DC2626;
  --color-warning: #F08811;

  --color-blue-10: #FCFEFF;
  --color-blue-20: #F6F8FE;
  --color-blue-50: #e6f3ff;
  --color-blue-100: #b0d9ff;
  --color-blue-200: #8ac6ff;
  --color-blue-300: #54adff;
  --color-blue-400: #339dff;
  --color-blue-500: #0084ff;
  --color-blue-600: #0078e8;
  --color-blue-700: #005eb5;

  --color-dark-blue-50: #e9ebf1;
  --color-dark-blue-100: #cbd0dd;
  --color-dark-blue-200: #a1abc3;
  --color-dark-blue-300: #7684a7;
  --color-dark-blue-400: #4c5e8c;
  --color-dark-blue-500: #253b73;
  --color-dark-blue-600: #1f3262;
  --color-dark-blue-700: #1A2A52;
  --color-dark-blue-800: #152242;
  --color-dark-blue-900: #111b34;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);

  --color-blue-10: var(--color-blue-10);
  --color-blue-20: var(--color-blue-20);
  --color-blue-50: var(--color-blue-50);
  --color-blue-100: var(--color-blue-100);
  --color-blue-200: var(--color-blue-200);
  --color-blue-300: var(--color-blue-300);
  --color-blue-400: var(--color-blue-400);
  --color-blue-500: var(--color-blue-500);
  --color-blue-600: var(--color-blue-600);
  --color-blue-700: var(--color-blue-700);

  --color-dark-blue-50: var(--color-blue-50);
  --color-dark-blue-100: var(--color-blue-100);
  --color-dark-blue-200: var(--color-blue-200);
  --color-dark-blue-300: var(--color-blue-300);
  --color-dark-blue-400: var(--color-blue-400);
  --color-dark-blue-500: var(--color-blue-500);
  --color-dark-blue-600: var(--color-blue-600);
  --color-dark-blue-700: var(--color-blue-700);
  --color-dark-blue-800: var(--color-blue-800);
  --color-dark-blue-900: var(--color-blue-900);

  --default-font-family: "Inter";
}

:lang(ar) {
  font-family: 'Vazirmatn', 'Inter', sans-serif;
}

[dir="rtl"] .icon-flip-rtl {
  transform: scaleX(-1);
}
